{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>About my Flask application</h1>
    <p class="lead">Flask - a framework for creating Web applications in the Python programming language, using the Werkzeug toolset, as well as the Jinja2 template engine. Refers to the category of so-called micro-frameworks - minimalistic skeletons of web applications that deliberately provide only the most basic capabilities.</p>

    <p>As a project work using Flask, it was decided to create an application similar to an open blog notepad. The application supports the registration scheme, which allows you to slightly protect the blog from changes, as well as the MySQL database for easy management of records. Also, for simplicity of designing the application, it was decided to use "Bootstrap" - a free set and a free set of tools for creating websites and web applications. Which includes HTML and CSS design templates for typography, web forms, buttons, labels, navigation blocks and other web interface components, including JavaScript extensions.</p>
    <br>
    <a href="/about_rus" class="btn btn-primary">P.S. лень переводить --> Translate</a>
  </div>
{% endblock %}
