{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>About my Flask application</h1>
    <p class="lead">Flask — фреймворк для создания веб-приложений на языке программирования Python, использующий набор инструментов Werkzeug, а также шаблонизатор Jinja2. Относится к категории так называемых микрофреймворков — минималистичных каркасов веб-приложений, сознательно предоставляющих лишь самые базовые возможности.</p>

    <p>В качестве проектной работы с использованием Flask было принято решение создать приложение похожее на открытый блог-блокнот. Приложение поддерживает схему регистрации, что позволяет немного обезопасить блог от изменений, а также СУБД MySQL для удобного управления записями. Также для простоты проектирования приложения было принято решение использовать "Bootstrap" - свободный набор и свободный набор инструментов для создания сайтов и веб-приложений. Который включает в себя HTML- и CSS-шаблоны оформления для типографики, веб-форм, кнопок, меток, блоков навигации и прочих компонентов веб-интерфейса, включая JavaScript-расширения.</p>
  </div>
{% endblock %}
